* {
    margin: 0;
    padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}
#root {
  height: 100%;
}
/*👉NAVBAR👈*/

/*👉NEED TO WORK OUT BOTTOM SHADOW👈*/
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #e5ff2e;
    height: 10%;
    align-items: center;

}
.navbar > img {
    margin-left: 20px;
}
.navbar > ul {
    display: flex;

    list-style: none;
    height: 100%;
}
.navbar > ul > li {
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 70px;
    text-decoration: none;
    color: white;
}
.navbar > ul > li:hover {
    background-color: chartreuse;
    color: white;
}
.navbar > ul > li:active {
    background-color: chartreuse;
    color: white;
}
a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}
a:-webkit-any-link:active {
    color: white;
}
a:-webkit-any-link:hover {
    color: white;
}

/*👉HOME👈*/
.home-container {
    background-image: url(./components/assets/chartreuseBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.home-container > h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  font-size: 3rem;
padding: 15px 0px;
}
.home-banner {
    height: 160px;
    width: 100%;
    background-image: url(./components/assets/chartreuseBanner.jpeg);
    background-size: cover;
box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    
}
.general-info {
width: 80%;
height: 300px;
background-color: rgba(255, 255, 255, 0.7);
margin-top: 40px;
border-radius: 6px;
box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);

}
.general-info h4 {
  text-align: center;
  padding: 10px;

}
.general-info p {
  padding: 10px;
}
