* {
  margin: 0;
  padding: 0;
}

/*👉NAVBAR👈*/
.navbar {
display: flex;
justify-content: space-between;
background-color: antiquewhite;
height: 40px;
align-items: center;
}
.navbar > h3 {
  margin-left: 20px;
}
.navbar > ul {
  display: flex;
  
  list-style: none;
  height: 100%;
  
}
.navbar > ul > li {
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 40px;
  text-decoration: none;
  color: white;
}
.navbar > ul > li:hover {
  background-color: blue;
  color: white;
}
.navbar > ul > li:active {
  background-color: blue;
  color: white;
}
a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}
a:-webkit-any-link:active {
  color: white;
}
a:-webkit-any-link:hover {
  color: white;
}